body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  /* color: #ffda4f; */
  color: #f9f9f9;
  background-color: #1f1f1f;
}
img {
  display: block;
  object-fit: contain;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
p {
  margin: 0;
}

button {
  cursor: pointer;
}

.music-player {
  position: fixed;
  right: 50px;
  top: 140px;
  z-index: 10;
}
/* ====CAROUSEL==== */

.carousel-top {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10px;
  margin-top: 15px;
  color: #1f1f1f;
  background-color: #ffda4f;
  font-family: "Special Gothic Expanded One";
  overflow: hidden;
  flex-wrap: nowrap;
}

.carousel-items {
  white-space: nowrap;
  animation: animate var(--t) linear infinite;
  animation-delay: calc(var(--t) * -1);
}

.carousel-items:nth-child(2) {
  animation: animate2 var(--t) linear infinite;
  animation-delay: calc(var(--t) / -2);
}

@keyframes animate {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes animate2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}

.carousel-items span {
  display: inline-flex;
  margin: 2px 10px;
  transition: 0.5s;
}

/* ====CAROUSEL==== */

.logo-header {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  padding: 0;
  font-size: 40px;
  color: #ffda4f;
  display: flex;
  align-items: center;
}

.page-header {
  background: #1f1f1f;
  border-bottom: 1px solid #ffda4f;
  box-shadow: 0px 2px 1px rgba(255, 218, 79, 0.08),
    0px 1px 1px rgba(255, 218, 79, 0.16), 0px 1px 6px rgba(255, 218, 79, 0.08);
}

.nav-header {
  display: none;
}

/* .container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
} */

/* Styles for Mobile devices */
.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 65px;
  }
}

.menu-header-link {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #f9f9f9;
  padding: 24px 0;
  position: relative;
}

.menu-link-active {
  color: #ffda4f;
}

.menu-header {
  display: flex;
  gap: 40px;
}

.header-flex {
  display: flex;
  justify-content: space-between;
}

.menu-link-active::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  height: 4px;

  background-color: #ffda4f;
  border-radius: 2px;

  bottom: 15px;
}

.header-media {
  /* display: flex; */
  display: none;
  align-items: center;
  gap: 10px;
}

.header-media-item {
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.menu-toggle {
  color: #374151; /* gray-700 */
  display: block; /* Показываем по умолчанию */
  cursor: pointer;
  border: none;
  background: none;
}

.menu-toggle:hover,
.menu-toggle:focus {
  color: #3350e9;
}

.mobile-menu {
  position: fixed;
  top: 0; /* Прикрепляем к верху экрана */
  bottom: 0; /* Занимает всю высоту */
  right: 0; /* Прикрепляем к правому краю */
  z-index: 50;
  overflow-y: auto;
  width: 200px;
  height: 100%;
  background: rgba(12, 12, 12, 0.92)
    url("../img/menu/modal-menu-back-mob-tab.jpg") no-repeat center center;
  background-size: cover;
  background-blend-mode: overlay;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Центрируем содержимое по вертикали */
  align-items: center; /* Центрируем содержимое по горизонтали */
}

.mobile-menu.is-open {
  transform: translateX(0%);
}

.mobile-menu-header {
}
.menu-close {
}
.icon {
}
.mobile-menu-nav {
}
.nav-link {
}
.mobile-social-list {
}
.social-icon {
}
.social-icon-svg {
}

/* ===HERO=== */

.hero {
  /* border: solid 2px tomato; */
  padding: 108px 0;
  box-shadow: 0px 2px 1px rgba(255, 218, 79, 0.08),
    0px 1px 1px rgba(255, 218, 79, 0.16), 0px 1px 6px rgba(255, 218, 79, 0.08);
}

.fancy-text-hero {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  text-align: center;
  font-size: 50px;
  color: #ffda4f;
  letter-spacing: 4px;
  margin-bottom: 30px;
}

.hero-title {
  text-align: center;
  margin-bottom: 30px;
}

.hero-text {
  max-width: 500px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.important-hero-text {
  max-width: 500px;
  display: block;
  margin: 0 auto;
  text-align: center;
  color: antiquewhite;
  margin-bottom: 20px;
  font-size: 20px;
}

.portfolio {
  background-color: #282828;
  /* border: solid 2px tomato; */
  padding: 100px 0;
}

.porfolio-title {
  color: aliceblue;
  text-align: center;
  margin-bottom: 70px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.portfolio-list-item {
  /* width: calc((100% - 60px) / 4); */
  height: auto;
  background-color: #ffda4f;
  color: #1f1f1f;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  box-shadow: 0px 2px 2px rgba(255, 218, 79, 0.08),
    0px 2px 2px rgba(255, 218, 79, 0.16), 0px 2px 8px rgba(255, 218, 79, 0.08);
}

.portfolio-list-item-title {
  margin-bottom: 20px;
}

.portfolio-list-item-svg {
  margin-bottom: 15px;
}

/* ===HERO END=== */

/* ====PROJECTS==== */

.projects {
  background-color: #1f1f1f;
  padding: 60px 0;
}

.projects-title {
  color: aliceblue;
  text-align: center;
  margin-bottom: 40px;
}
.projects-list {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
.projects-list-item {
  /* width: calc((100% - 40px) / 2); */
  background-color: #ffda4f;
  color: #1f1f1f;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  box-shadow: 0px 2px 2px rgba(255, 218, 79, 0.08),
    0px 2px 2px rgba(255, 218, 79, 0.16), 0px 2px 8px rgba(255, 218, 79, 0.08);
}
.projects-list-item-svg {
  margin-bottom: 12px;
}
.projects-list-item-title {
  margin-bottom: 10px;
}

/* =========ABOUT========= */

.about {
  padding: 70px 0;
  background-color: #282828;
}

.about-flex-container {
  /* display: flex; */
}

.about-title {
  text-align: center;
  color: #f9f9f9;
  font-size: 24px;
  padding-bottom: 20px;
}

.author-image {
  fill: #282828;
  background-color: #ffda4f;
  border-radius: 50%;
  border: solid 3px #ffda4f;
  margin-bottom: 40px;
}

.author-container {
  /* width: 33%; */
  text-align: center;
  padding: 0 80px;
  flex-shrink: 0;
}

.author-title {
  color: #f9f9f9;
  padding-bottom: 15px;
}

.author-media {
  display: flex;
  justify-content: space-around;
}

.author-media-item {
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.about-description {
  /* padding-right: 200px; */
}

.about-text {
  color: #f9f9f9;
  margin-bottom: 15px;
}

/* ====CONTACT FORM ==== */

.contact {
  background-color: #1f1f1f;
  padding: 80px 0;
}

.contact-title {
  text-align: center;
  color: #f9f9f9;
  font-size: 30px;
  margin-bottom: 30px;
}

.contact-container {
  /* display: flex; */
  position: relative;
}

.contact-about {
  padding-right: 30px;
}

.contact-about-text {
  margin-bottom: 15px;
  color: #f9f9f9;
  /* width: 80%; */
}
.form-container,
.contact-about {
  /* width: 50%; */
}

.form-container::before {
  display: none;
  content: "";
  width: 4px;
  position: absolute;
  left: 50%;
  height: 100%;
  background-color: #f9f9f9;
  border-radius: 2px;
}

.name-input,
.phone-input {
  text-align: right;
  padding-bottom: 16px;
}

.user-phone-input,
.user-name-input {
  /* width: 80%; */
  background-color: #ffda4f;
  border-radius: 4px;
  outline: transparent;
  padding: 8px 16px;
}

.comment-input {
  /* width: 80%; */
  font-weight: 400;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 120px;
  padding: 8px 16px;
  background-color: #ffda4f;
  outline: transparent;
  resize: none;
  /* transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
